{% extends "admin_layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ home_bg_url }}')">
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
                <h1>Users</h1>
                <span class="subheading">User Details</span>
            </div>
        </div>
    </div>
</div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <h1>Edit Posts</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for users in user %}
                  <tr>
                    <td>{{users.id}}</td>
                    <td>{{users.username}}</td>
                    <td>{{users.phone}}</td>
                    <td>{{users.email}}</td>
                    <td><a href="/delete_user/{{users.id}}"><button class="btn btn-primary">Delete</button></a></td>
                  </tr>                 
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    </div>
    {% endblock %}